body{
    padding: 0;
    margin: 0;
    background: rgb(18, 7, 56);
    color: white;
}
input{
    height: 30px;
}
#searchIcon{
    height: 36px;
    width: 36px;
}
#titleM{
    width: 50vw;
}
.search-container{
    width: 50vw;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
}
